flask==2.0.2

# library for data manipulation and analysis that provides data structures 
# for efficiently storing and manipulating large datasets.
pandas==1.2.4

# sklearn.cluster.KMeans: A class in the scikit-learn library 
# that implements the K-means clustering algorithm for unsupervised learning.
# sklearn.feature_extraction.text.TfidfVectorizer: A class in the scikit-learn library 
# that converts a collection of raw documents to a matrix of TF-IDF features.
scikit-learn==0.24.2

# perform more advanced text preprocessing steps
nltk==3.6.2
